{{!-- <nav class="navbar">
    <div>
        <span class="icon"><ion-icon name="fitness-outline"></ion-icon></span>
        <a href="#">PGroup</a>
        <a href="">Giới Thiệu</a>
        <a href="">Ô tô</a>
        <a href="">Xe máy điện</a>
        <a href="">Dịch vụ hậu mãi</a>
        <a href="">Pin và trạm sạc</a>
        <a href="">Tài khoản</a>
        <button class="btnDK">ĐĂNG KÝ LÁI THỬ</button>
    </div>
</nav> --}}
<nav>
    <a class="active" href="#home">PGroup</a>
    <a href="#news">Giới Thiệu</a>
    <a href="#contact">Ô tô</a>
    <a href="#about">Xe máy điện</a>
    <a href="">Dịch vụ hậu mãi</a>
    <a href="">Pin và trạm sạc</a>
    <a href="">Tài khoản</a>
    <button type="button">Đăng ký lái xe</button>
    <a href="javascript:void(0);" class="icon" onclick="Navfunction()">&#9776;</a>
</nav>
<script src="/js/main.js"></script>