<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<div class="slideshow-container">
		<div class="slide">
			<img src="image1.jpg">
		</div>
		<div class="slide">
			<img src="image2.jpg">
		</div>
		<div class="slide">
			<img src="image3.jpg">
		</div>
		<div class="slide">
			<img src="image4.jpg">
		</div>
	</div>

	

</html>

</body>
</html>